@import "../ducky/current/theme/waybar.css";

* {
  background-color: @background;
  color: @foreground;

  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: 'AdwaitaMono Nerd Font';
  font-size: 12px;
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#workspaces button.visible .workspace-label {
  color: orange;
}

#cpu,
#pulseaudio,
#backlight,
#network,
#bluetooth,
#battery,
#power-profiles-daemon,
#custom-notification,
#language,
#custom-screenrecording-indicator {
  margin: 0 7.5px;
}

#battery.warning {
  border-color: orange;
  color: orange;
}

#battery.critical {
  border-color: red;
  color: red;
}

#tray {
  margin-right: 16px;
}

#custom-expand-icon {
  margin-right: 24px;
}

#custom-screenrecording-indicator {
  min-width: 12px;
  margin-left: 8.75px;
  font-size: 10px;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}

.hidden {
  opacity: 0;
}
