binds {
    // Keys consist of modifiers separated by + signs, followed by an XKB key name
    // in the end. To find an XKB name for a particular key, you may use a program
    // like wev.
    //
    // "Mod" is a special modifier equal to Super when running on a TTY, and to Alt
    // when running as a winit window.
    //
    // Most actions that you can bind here can also be invoked programmatically with
    // `niri msg action do-something`.

    // Mod-Shift-/, which is usually the same as Mod-?,
    // shows a list of important hotkeys.
    // Mod+Shift+Slash { show-hotkey-overlay; }

    Mod+P hotkey-overlay-title="Open Application Launcher" { spawn "vicinae" "toggle"; }
    Mod+V hotkey-overlay-title="Open Clipboard Manager"    { spawn "vicinae" "vicinae://extensions/vicinae/clipboard/history"; }

    Mod+Return  hotkey-overlay-title="Open a Terminal"        { spawn "ptyxis" "-s"; }
    Mod+E       hotkey-overlay-title="Open Files"             { spawn "nautilus"; }
    Mod+Shift+E hotkey-overlay-title="Open Email Client"      { spawn "thunderbird"; }
    Mod+B       hotkey-overlay-title="Open Browser"           { spawn "firefox"; }
    Mod+Shift+B hotkey-overlay-title="Open Browser (Private)" { spawn "firefox" "--private-window"; }
    Mod+Shift+O hotkey-overlay-title="Open Notes"             { spawn "flatpak" "run" "md.obsidian.Obsidian"; }
    Mod+Slash   hotkey-overlay-title="Open Password Manager"  { spawn "flatpak" "run" "org.gnome.World.Secrets"; }
    Mod+Shift+T hotkey-overlay-title="Open Task Manager"      { spawn "flatpak" "run" "io.missioncenter.MissionCenter"; }
}
